# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment files
.env
.env.local
.env.production
frontend/.env
frontend/.env.local
backend/.env
backend/.env.local


# Build files
frontend/build/
frontend/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/